/* Details that modify the body */
body 
{
    background: #DEDEE0;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Details that modify the navigation bar */
#navigationBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

/* Allows items to float to the left */
li
{
    float: left;
}

/* Styles and aligns each item in navigation bar */
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

/* Hover effect whenever your mouse is over an item in the navigation bar */
li a:hover
{
    background-color: #001f4d;
}

/* Styles the footer */
#footer
{
    display: block;
    padding: 25px 25px;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    position: fixed;
    position: fixed;
    margin-right: auto;    
    margin-left: auto;       
    min-width: inherit;
    width: inherit;
}