
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(CSS_Pictures/aerial-picture-of-nau-north-campus.jpg) no-repeat;
  background-size: cover;
}

.login-box {
  width: 280px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #FFD700;
  margin-bottom: 50px;
  padding: 13px 0
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #0000FF;
}

.login input[type=text] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px, solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login input[type=password] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px, solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login input[type=button] {
  width: 260px;
  height: 35px;
  background: #fff;
  border: 1px, solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.login input[type=text]:hover {
  opacity: 0.8;
}

.login input[type=password]:hover {
  opacity: 0.8;
}

.login input[type=button]:hover {
  opacity: 0.8;
}

.login input[type=text]:focus {
  outline: none;
  border: 1px, solid rgba(255, 255, 255, 0.9);
}

.login input[type=password]:focus {
  outline: none;
  border: 1px, solid rgba(255, 255, 255, 0.9);
}

.login input[type=button]:focus {
  outline: none;
}
