/* Details that modify the body */
body 
{
    background: #DEDEE0;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

/* Details that modify the navigation bar */
#navigationBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* Allows items to float to the left */
li
{
    float: left;
}

/* Styles and aligns each item in navigation bar */
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

/* Hover effect whenever your mouse is over an item in the navigation bar */
li a:hover
{
    background-color: #001f4d;
}

#moduleText
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    color: black;
}

img:hover 
{
    box-shadow: 0 0 20px 5px #ADD8E6;
}
    
#moduleOneImage
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#moduleTwoImage
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#moduleThreeImage
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 10px;
}

/* Styles the footer */
#footer
{
    bottom: 0;
    padding: 20px;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: black;
    color: white; 
}