/* Details that modify the body */
body 
{
    background: #DEDEE0;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Details first problem */
#problemOneKMap
{
    text-align: center;
    font-family: serif;
    color: black;
}

/* Details the level one truth table */
#myTruthTableCanvas
{
    float: left;
    margin-top: 1em;
    margin-left: 3em;
}

/* Details the level one K-Map */
#myKMapCanvas
{
    float: right;
    margin-top: 1em;
    margin-right: 25em;
}

/* Details that modify the navigation bar */
#navigationBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

/* Allows items to float to the left */
li
{
    float: left;
}

/* Styles and aligns each item in navigation bar */
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

/* Hover effect whenever your mouse is over an item in the navigation bar */
li a:hover
{
    background-color: #001f4d;
}

/* Styles submit button */
#submitButton
{
    position: absolute;
    top: 500px;
    left: 550px;
    height: 50px;
    width: 70px;
    background-color: #597dd9;
    color: white;
}

/* Submit button hover effect */
#submitButton:hover
{
    background-color: #fbff94;
    color: black;
}

/* Styles reset button */
#resetButton
{
    position: absolute;
    top: 500px;
    left: 750px;
    height: 50px;
    width: 70px;
    background-color: #597dd9;
    color: white;
}

/* Reset button hover effect */
#resetButton:hover
{
    background-color: #fbff94;
    color: black;
}

/* Styles user inputs */
#numberOne
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 260px;
    left: 585px;
}

#numberTwo
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 260px;
    left: 635px;
}

#numberThree
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 260px;
    left: 685px;
}

#numberFour
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 260px;
    left: 735px;
}

#numberFive
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 310px;
    left: 585px;
}

#numberSix
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 310px;
    left: 635px;
}

#numberSeven
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 310px;
    left: 685px;
}

#numberEight
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 310px;
    left: 735px;
}

/**********************************************************************************************

/* Styles the footer */
#footer
{
    display: block;
    padding: 25px 25px;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    position: fixed;
}