

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(CSS_Pictures/aerial-picture-of-nau-north-campus.jpg) no-repeat;
  background-size: cover;
}

#login-box {
  width: 290px;
  padding: 20px;
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 3px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
}



input[type=text] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 2px, solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

input[type=password] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 2px, solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

input[type=button] {
  width: 260px;
  height: 35px;
  background: #fff;
  border: 2px, solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

input[type=text]:hover {
  opacity: 0.8;
}

input[type=password]:hover {
  opacity: 0.8;
}

input[type=button]:hover {
  opacity: 0.8;
}

input[type=text]:focus {
  outline: none;
  border: 1px, solid rgba(255, 255, 255, 0.9);
}

input[type=password]:focus {
  outline: none;
  border: 1px, solid rgba(255, 255, 255, 0.9);
}

input[type=button]:focus {
  outline: none;
}
