/* Details first problem */
#problemOneKMap
{
    position: absolute;   
    max-width: 100%; 
    min-width: 1000px;
    top: 70px;
    left: 255px;
    font-family: serif;
    color: black;
}

#hello
{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding-top: 20px;
    color: black;
}

/* Details first problem */
#problemTwoKMap
{
    position: absolute;   
    max-width: 100%; 
    min-width: 1000px;
    top: 70px;
    left: 255px;
    font-family: serif;
    color: black;
}

/* Details the level one truth table */
#myTruthTableCanvas
{
    position: absolute;
    top: 150px;
    left: 100px;
    margin-bottom: 100px;
}

/* Details the level one K-Map */
#myKMapCanvas
{
    position: absolute;
    top: 150px;
    left: 475px;
}

/* Details the level two user canvas */
#userFillCanvas
{
    position: absolute;
    top: 150px;
    left: 475px;
}

/* Styles submit button */
#submitButton
{
    position: absolute;
    top: 500px;
    left: 550px;
    height: 50px;
    width: 70px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
}

/* Submit button hover effect */
#submitButton:hover
{
    background-color: #fbff94;
    color: black;
}

/* Styles hint button */
#hintButton
{
    position: absolute;
    top: 500px;
    left: 650px;
    height: 50px;
    width: 70px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
}

/* Hint button hover effect */
#hintButton:hover
{
    background-color: #fbff94;
    color: black;
}

/* Styles reset button */
#resetButton
{
    position: absolute;
    top: 500px;
    left: 750px;
    height: 50px;
    width: 70px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
}

/* Reset button hover effect */
#resetButton:hover
{
    background-color: #fbff94;
    color: black;
}

/* Styles user inputs */
#numberOne
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 260px;
    left: 585px;
}

#numberTwo
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 260px;
    left: 635px;
}

#numberThree
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 260px;
    left: 685px;
}

#numberFour
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 260px;
    left: 685px;
    left: 735px;
}

#numberFive
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 310px;
    left: 585px;
}

#numberSix
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 310px;
    left: 635px;
}

#numberSeven
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 310px;
    left: 685px;    
}

#numberEight
{
    position: absolute;
    background: #DEDEE0;
    width: 30px;
    height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    top: 310px;
    left: 735px;
}

/**********************************************************************************************/

#incorrectAnswerMessage
{
    position: absolute;
    color: red;
    top: 560px;
    left: 505px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: oblique;
    margin-bottom: 100px;
    min-width: 200px;
}

#hint
{
    position: absolute;
    color: red;
    top: 600px;
    left: 600px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: oblique;
    margin-bottom: 100px;
    min-width: 200px;
}

#attemptsLeft
{
    position: absolute;
    color: black;
    top: 600px;
    left: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 100px;
    min-width: 200px;
}

#scoreText
{
    position: absolute;
    color: black;
    top: 600px;
    left: 1000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 100px;
    min-width: 200px;
}