/* Details that modify the body */
body 
{
    background: #C8CFD9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

/* Details that modify the navigation bar */
#navigationBar, #moduleNavbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* Allows items to float to the left */
li
{
    float: left;
}

/* Styles and aligns each item in navigation bar */
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

/* Hover effect whenever your mouse is over an item in the navigation bar */
li a:hover
{
    background-color: #001f4d;
}

#topContainer
{
    background-image: url(CSS_Pictures/NAU_Snow.png);
    background-size: 82%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 450px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    padding: 50px;
    border-radius: 6px;
    text-align: center;
    letter-spacing: .10em;
}

#instructions
{
    background-color: #bdbdbd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 100px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 60px;
    text-align: left;
    letter-spacing: .10em;
    height: 420px;
    font-size-adjust: auto;
}

#logo
{
    position: relative;
    border-radius: 50%;
    padding: 40px;
}

/* Styles the footer */
#footer
{
    bottom: 0;
    padding: 20px;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: black;
    color: white;
}

/* CSS for Practice Mode Module 1 */
#variableText
{
    position: absolute;   
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    min-width: 1000px;
    top: 70px;
    left: 255px;
    font-family: serif;
    color: black;
}

#optionOne
{
    position: absolute;
    top: 200px;
    left: 100px;
    height: 50px;
    width: 100px;
}

#optionOneText
{
    position: absolute;
    top: 200px;
    left: 170px;
    padding-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    background-color: #597dd9;
    text-align: center;
    border-radius: 20px;
}

#optionTwo
{
    position: absolute;
    top: 200px;
    left: 400px;
    height: 50px;
    width: 100px;
}

#optionTwoText
{
    position: absolute;
    top: 200px;
    left: 470px;
    padding-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    background-color: #597dd9;
    text-align: center;
    border-radius: 20px;
}

#optionThree
{
    position: absolute;
    top: 200px;
    left: 700px;
    height: 50px;
    width: 100px;
}

#optionThreeText
{
    position: absolute;
    top: 200px;
    left: 770px;
    padding-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    background-color: #597dd9;
    text-align: center;
    border-radius: 20px;
}

#optionFour
{
    position: absolute;
    top: 200px;
    left: 1000px;
    height: 50px;
    width: 100px;
}

#optionFourText
{
    position: absolute;
    top: 200px;
    left: 1070px;
    padding-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    background-color: #597dd9;
    text-align: center;
    border-radius: 20px;
}

/* Truth table translation option */
#questionOne
{
    position: absolute;
    top: 400px;
    left: 140px;
    height: 50px;
    width: 100px;
}

#questionOneText
{
    position: absolute;
    top: 400px;
    left: 200px;
    padding-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    background-color: #597dd9;
    text-align: center;
    border-radius: 20px;
}

/* SOP grouping option */
#questionTwo
{
    position: absolute;
    top: 400px;
    left: 340px;
    height: 50px;
    width: 100px;
}

#questionTwoText
{
    position: absolute;
    top: 400px;
    left: 400px;
    padding-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    background-color: #597dd9;
    text-align: center;
    border-radius: 20px;
}

/* SOP equation writing option */
#questionThree
{
    position: absolute;
    top: 400px;
    left: 540px;
    height: 50px;
    width: 100px;
}

#questionThreeText
{
    position: absolute;
    top: 400px;
    left: 600px;
    padding-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    background-color: #597dd9;
    text-align: center;
    border-radius: 20px;
}

/* POS grouping option */
#questionFour
{
    position: absolute;
    top: 400px;
    left: 740px;
    height: 50px;
    width: 100px;
}

#questionFourText
{
    position: absolute;
    top: 400px;
    left: 800px;
    padding-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    background-color: #597dd9;
    text-align: center;
    border-radius: 20px;
}

/* POS equation writing option */
#questionFive
{
    position: absolute;
    top: 400px;
    left: 940px;
    height: 50px;
    width: 100px;
}

#questionFiveText
{
    position: absolute;
    top: 400px;
    left: 1000px;
    padding-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    background-color: #597dd9;
    text-align: center;
    border-radius: 20px;
}

#problemText
{
    position: absolute;   
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    min-width: 1000px;
    top: 300px;
    left: 400px;
    font-family: serif;
    color: black;
}

/* Styles submit button */
#subButton
{
    position: absolute;
    top: 550px;
    left: 550px;
    height: 50px;
    width: 100px;
    background-color: #597dd9;
    color: black;
    margin-bottom: 100px;
    border-radius: 20px;
}

/* Submit button hover effect */
#subButton:hover
{
    background-color: #fbff94;
    color: black;
}

/* End of CSS for Practice Mode Module 1 */

/* Video CSS */
#videoContainer
{
    background-color: #bdbdbd;
    margin-left: auto;
    margin-right: auto;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 100px;
    border-radius: 60px;
    padding: 10px;
    height: 1550px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: .10em;
    font-size-adjust: auto;
}