/* Details that modify the body */
body 
{
    background: #C8CFD9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

/* Details that modify the navigation bar */
#navigationBar, #moduleNavbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* Allows items to float to the left */
li
{
    float: left;
}

/* Styles and aligns each item in navigation bar */
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

/* Hover effect whenever your mouse is over an item in the navigation bar */
li a:hover
{
    background-color: #001f4d;
}

#topContainer
{
    background-image: url(CSS_Pictures/NAU_Snow.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 40% 30%;
    height: 450px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    padding: 50px;
    border-radius: 6px;
    text-align: center;
    letter-spacing: .10em;
}

#instructions
{
    background-color: #bdbdbd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    text-align: center;
    letter-spacing: .10em;
    height: 420px;
    font-size-adjust: auto;
}

#logo
{
    position: relative;
    border-radius: 50%;
    padding: 40px;
}

/* Styles the footer */
#footer
{
    bottom: 0;
    padding: 20px;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: black;
    color: white;
}

/* CSS for Practice Mode Module 1 */
#variableText
{
    position: absolute;   
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    min-width: 1000px;
    top: 70px;
    left: 255px;
    font-family: serif;
    color: black;
}

#buttonOne
{
    position: absolute;
    top: 200px;
    left: 100px;
    height: 50px;
    width: 100px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
    border-radius: 20px;
}

#buttonOne:hover
{
    background-color: #13A9FF;
    color: black;
}

#buttonTwo
{
    position: absolute;
    top: 200px;
    left: 400px;
    height: 50px;
    width: 100px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
    border-radius: 20px;
}

#buttonTwo:hover
{
    background-color: #13A9FF;
    color: black;
}

#buttonThree
{
    position: absolute;
    top: 200px;
    left: 700px;
    height: 50px;
    width: 100px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
    border-radius: 20px;
}

#buttonThree:hover
{
    background-color: #13A9FF;
    color: black;
}

#buttonFour
{
    position: absolute;
    top: 200px;
    left: 1000px;
    height: 50px;
    width: 100px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
    border-radius: 20px;
}

#buttonFour:hover
{
    background-color: #13A9FF;
    color: black;
}

#problemText
{
    position: absolute;   
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    min-width: 1000px;
    top: 270px;
    left: 400px;
    font-family: serif;
    color: black;
}

#buttonFive
{
    position: absolute;
    top: 400px;
    left: 250px;
    height: 50px;
    width: 100px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
    border-radius: 20px;
}

#buttonFive:hover
{
    background-color: #13A9FF;
    color: black;
}

#buttonSix
{
    position: absolute;
    top: 400px;
    left: 550px;
    height: 50px;
    width: 100px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
    border-radius: 20px;
}

#buttonSix:hover
{
    background-color: #13A9FF;
    color: black;
}

#buttonSeven
{
    position: absolute;
    top: 400px;
    left: 850px;
    height: 50px;
    width: 100px;
    background-color: #597dd9;
    color: white;
    margin-bottom: 100px;
    border-radius: 20px;
}

#buttonSeven:hover
{
    background-color: #13A9FF;
    color: black;
}

/* End of CSS for Practice Mode Module 1 */