/* Details that modify the body */
body 
{
    background: #C8CFD9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

/* Details that modify the navigation bar */
#navigationBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* Allows items to float to the left */
li
{
    float: left;
}

/* Styles and aligns each item in navigation bar */
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

/* Hover effect whenever your mouse is over an item in the navigation bar */
li a:hover
{
    background-color: #001f4d;
}

#topContainer
{
    background-image: url(CSS_Pictures/NAU_Snow.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 40% 30%;
    height: 450px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    padding: 50px;
    border-radius: 6px;
    text-align: center;
    letter-spacing: .10em;
}

#logo
{
    position: relative;
    border-radius: 50%;
    padding: 40px;
}

/* Styles the footer */
#footer
{
    bottom: 0;
    padding: 20px;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: black;
    color: white;
}